html, body {
    height: 100%
}

body {
    background: linear-gradient(white, black);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.neon-title {
    flex: 1 0 auto;
    padding: 20px;
}

.floor {
    flex-shrink: 0;
    padding: 20px;
}